In [5]:
import numpy as np

In [6]:
np.__version__

'1.21.5'

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas_profiling

In [9]:
base = pd.read_csv(r"C:\Users\mmelgar\Desktop\Cursoml\Semana 1\cars.csv",sep=',',encoding='latin-1') # Importo el dataset seleccionado en cuesti√≥n.

In [12]:
base.shape

(11914, 16)

In [14]:
base.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [17]:
base.Make.value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Spyker              3
Genesis             3
Bugatti             3
Name: Make, dtype: int64

In [19]:
audi = base[
    base['Make'] == 'Audi'
]

In [29]:
audi.groupby('Model').count()

,Make,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
Model,,,,,,,,,,,,,,,
100,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
200,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
80,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
90,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
A3,47,47,47,47,47,47,47,47,47,47,47,47,47,47,47
A4,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25
A4 allroad,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
A5,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
A6,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23
A7,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
A8,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
Cabriolet,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Coupe,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
Q3,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14
Q5,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20
Q7,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
R8,25,25,25,25,25,25,25,25,25,25,25,25,25,25,25
RS 4,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
RS 5,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
RS 6,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
RS 7,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
S3,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
S4,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12
S5,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
S6,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
S7,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
S8,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
SQ5,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
TT,6,6,6,6,6,6,6,6,6,6,6,6,6,6,6
TT RS,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
TTS,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
V8,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
allroad,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8
allroad quattro,8,8,8,8,8,8,8,8,8,8,8,8,8,8,8

In [44]:
base['Engine Cylinders'].median()

6.0

In [45]:
base['Engine Cylinders'].mode()

0    4.0
Name: Engine Cylinders, dtype: float64

In [46]:
base.fillna(4.0)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

In [47]:
base['Engine Cylinders'].median()

6.0

In [48]:
lotus = base[
    base['Make'] == 'Lotus'
]

In [54]:
lotus2 = lotus[['Engine HP','Engine Cylinders']]

In [56]:
lotus2.drop_duplicates()

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [59]:
X = lotus2.drop_duplicates()

In [65]:
XT = np.transpose(X)

In [66]:
XT

,3912,3913,3918,4216,4257,4259,4262,4292,4293
Engine HP,189.0,218.0,217.0,350.0,400.0,276.0,345.0,257.0,240.0
Engine Cylinders,4.0,4.0,4.0,8.0,6.0,6.0,6.0,4.0,4.0

In [67]:
XTX = X * XT

In [69]:
XTX = np.dot(X,XT)

In [80]:
XTX

array([[ 35737.,  41218.,  41029.,  66182.,  75624.,  52188.,  65229.,
         48589.,  45376.],
       [ 41218.,  47540.,  47322.,  76332.,  87224.,  60192.,  75234.,
         56042.,  52336.],
       [ 41029.,  47322.,  47105.,  75982.,  86824.,  59916.,  74889.,
         55785.,  52096.],
       [ 66182.,  76332.,  75982., 122564., 140048.,  96648., 120798.,
         89982.,  84032.],
       [ 75624.,  87224.,  86824., 140048., 160036., 110436., 138036.,
        102824.,  96024.],
       [ 52188.,  60192.,  59916.,  96648., 110436.,  76212.,  95256.,
         70956.,  66264.],
       [ 65229.,  75234.,  74889., 120798., 138036.,  95256., 119061.,
         88689.,  82824.],
       [ 48589.,  56042.,  55785.,  89982., 102824.,  70956.,  88689.,
         66065.,  61696.],
       [ 45376.,  52336.,  52096.,  84032.,  96024.,  66264.,  82824.,
         61696.,  57616.]])

In [72]:
inversa = np.linalg.inv(XTX)

In [73]:
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]

In [75]:
resultado = np.dot(XT, inversa)

In [79]:
resultado2 = np.dot(resultado, y)

In [77]:
resultado2

array([ 1.91684459e+20, -7.03687442e+16])